body {
  background: url(../images/Transport-2.jpg);
  background-position: inherit;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  width: 800px;
}

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.tracker {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.budget-section,
.expense-section {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.reset-btn {
  background-color: #dc3545;
}

.reset-btn:hover {
  background-color: #b71c1c;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary div {
  background-color: #6fcbdb;
  color: black;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.summary h3 {
  margin: 0;
  font-size: 1.2em;
}

.summary p {
  font-size: 1.5em;
  margin: 10px 0 0;
}

.expense-history {
  margin-top: 20px;
}

.expense-history h3{
  color: #ffff;
}

.expense-history table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.expense-history th,
.expense-history td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.expense-history th {
  background-color: #00c3ff;
  color: rgb(7, 6, 6);
  font-weight: bold;
}

.expense-history td {
  background-color: #f9f9f9;
}

.edit-btn {
  background-color: #59b330;
  padding: 10px 40px;
}

.edit-btn:hover{
  background-color: #3a7243;
}

.remove-btn {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #b71c1c;
}